<div class="post-preview">
    <a href="posts/<%- slug %>">
        <h2 class="post-title"><%- post.title %></h2>
        <h3 class="post-subtitle"><%- post.description %></h3>
    </a>
    <p class="post-meta">Posted by <%- post.author %> on <%- post.date %></p>
</div>
